.Navigation__navbar {
  background: white;
  box-shadow: 0px 1px 10px grey;
  z-index: 999;
}

.Navigation__brand {
  width: 225px;
}

.nav-item {
  text-align: center;
  padding: 0.25rem;
}

@media only screen and (max-width: 480px)  {
  .Navigation__brand {
    width: 150px;
  }
}
