@font-face {
    font-family: 'PhosphateInline'; /*a name to be used later*/
    src: url('../fonts/phosphateinline-webfont.woff2') format('woff2'),
         url('../fonts/phosphateinline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheBrooklynBold'; /*a name to be used later*/
    src: url('../fonts/the_brooklyn_bold_demo-webfont.woff2') format('woff2'),
         url('../fonts/the_brooklyn_bold_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, .body {
  height: 100%;
}

body, .body {
  font-family: 'TheBrooklynBold', 'Veranda', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  font-size: 1.5rem;
}

a {
  color: #5195CF;
}
a:hover {
  color: #FF6A02 !important;
}

.social-media a {
  color: white !important;
}

.content {
  flex: 1 0 auto;
}

.body {
  max-width: 100%;
}

.Banner__title {
  font-size: 3rem;
}

@media only screen and (max-width: 480px) {
  .Banner__title {
    font-size: 1.6rem;
  }
}

.Footer a:hover span.fa {
    color: #424020;
}

.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67a9da+0,4e8bbd+99 */
  background: #67a9da; /* Old browsers */
  background: -moz-linear-gradient(left, #67a9da 0%, #4e8bbd 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #67a9da 0%,#4e8bbd 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #67a9da 0%,#4e8bbd 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67a9da', endColorstr='#4e8bbd',GradientType=1 ); /* IE6-9 */
}
